<h1>Create a new Meetup</h1>

<div class="add-meetup">
  <h3>Add yo' Meetup!</h3>
  <form action="/meetups/new" method="post">
    <label for="name">Meetup Title: </label>
    <input type="text" name="name"></br>
    <label for="description">Description:</label>
    <input type="text" name="description"></br>
    <label for="location">Location</label>
    <input type="text" name="location"></br>
    <input type="submit" name="submit" id="submit" />
  </form>
</div>
